/* .btn{
    display: flex;
    justify-content: space-between;
} */

.btnIncrement{
    margin-right: 15px;
}
.container{
    height: 100vh;
     display: flex;
    align-items: center;
    margin: auto;
}

.countercontainer{
   
    height: 500px;
     margin: auto;
}