.scontainer {
  margin-top: 100px;
  width: 100vw;
  padding: 20px;
}
.serch-container {
  width: 100%;
  display: flex;
  justify-content: start;
}
.local-search, .api-search{
    width: 100%;
    margin: 15px;
}

.serch-container input {
  padding: 15px;
}
.search-reco{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border: 1px solid lightgray;
    margin-top: 5px;
    border-radius: 5px;
    background-color: white;
    max-height: 500px;
    overflow-y: scroll;
}
.search-item{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    width: 100%;
    cursor: pointer;
    align-items: center;
}
.search-item:hover{
    background-color: rgb(227, 225, 225);
}

.search-item img{
    flex-grow: 0;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: auto;
    padding: 10px;
}
p{
    padding: 0 10px;
    font-size: small;
    font-weight: 500;
}